<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study.android.a4thteamproject01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.4thTeamProject01"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".mypage.CheckReservation"></activity>
        <activity android:name=".manager.ChatMainActivity" />
        <activity android:name=".manager.ChatActivity" />

        <activity android:name=".RestaurantLocation" />
        <activity android:name=".DoneReserveActivity" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".RestaurantInfoActivity"></activity>
        <activity android:name=".mypage.JoinActivity" />
        <activity android:name=".mypage.ModifyMyInfoActivity" />
        <activity android:name=".mypage.MyReviewActivity" />
        <activity android:name=".mypage.ChangeProfile_imgActivity" />
        <activity android:name=".mypage.LoginActivity" />
        <activity android:name=".hyungdoo.Review" />
        <activity android:name=".hyungdoo.SirenOrderResult" />
        <activity android:name=".manager.ManagerMainActivity" />
        <activity android:name=".manager.ModifyManagerActivity" />
        <activity
            android:name=".hyungdoo.SirenOrder"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".hyungdoo.NaverMap" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="f1k23335ck" />
    </application>

</manifest>